@{
    ViewData["Title"] = "Home Pag";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Create Expense</a>

</div>
